blinker==1.3
brownant==0.1.5
Flask-Script==1.0.0
Flask-SQLAlchemy==1.0
Flask==0.10.1
gunicorn==18.0
itsdangerous==0.24
Jinja2==2.7.2
lxml==3.3.5
MarkupSafe==0.23
pip-tools==0.3.4
py==1.4.20
pytest==2.5.2
python-dateutil==2.2
raven==4.2.3
requests==2.3.0
simpleflake==0.1.5
six==1.6.1
SQLAlchemy==0.9.4
Werkzeug==0.9.4
